html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &::after, &::before {
    box-sizing: border-box;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

button, input, textarea {
  outline: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  background: #141414;
}

ul,
li {
  list-style: none;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(-10%);
  opacity: 0;
}

.slide-enter-to,
.slide-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: all 0.3s ease;
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
  transform: translateY(100%);
  opacity: 0;
}

.slide-bottom-enter-to,
.slide-bottom-leave-from {
  transform: translateY(0);
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
